doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title PocketPlay | Dashboard
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.5
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // fullCalendar 2.2.5
    link(rel='stylesheet', href='plugins/fullcalendar/fullcalendar.min.css')
    link(rel='stylesheet', href='plugins/fullcalendar/fullcalendar.print.css', media='print')
    // Theme style
    link(rel='stylesheet', href='dist/css/AdminLTE.min.css')
    //
      AdminLTE Skins. Choose a skin from the css/skins
      folder instead of downloading all of them to reduce the load.
    link(rel='stylesheet', href='dist/css/skins/_all-skins.min.css')
    // custom
    link(rel='shortcut icon', href='dist/img/favicon.ico')
    link(rel='stylesheet', href='bootstrap/css/custom.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      header.main-header
        // Logo
        a.logo(href='#')
          // mini logo for sidebar mini 50x50 pixels
          span.logo-mini
            b P
            | Play
          // logo for regular state and mobile devices
          span.logo-lg
            b PocketPlay
        // Header Navbar: style can be found in header.less
        nav.navbar.navbar-static-top(role='navigation')
          // Sidebar toggle button
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
            ul.nav.navbar-nav
              // Messages: style can be found in dropdown.less
              // Notifications: style can be found in dropdown.less
              // Tasks: style can be found in dropdown.less
              // User Account: style can be found in dropdown.less
              li
                a(href='/logout', title='LOGOUT')
                  i.fa.fa-sign-out.fa-lg
                  strong.hidden-xs Logout
              // Control Sidebar Toggle Button
              li
                a(href='#', data-toggle='control-sidebar')
      // Left side column. contains the logo and sidebar
      aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          // Sidebar user panel
          .user-panel
            .pull-left.image
              img.img-circle(src='dist/img/ppmascot.png', alt='User Image')
            .pull-left.info
              p Admin Console
              a(href='#')
                i.fa.fa-circle.text-success
                |  Online
          //import sidebar
          include ../sidebar

      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          h1
            | General Information
        // Element to pop up
        // Main content
        section.content
          .row
            .col-md-12
              .box.box-primary
                .box-body.no-padding
                  // THE CALENDAR
                  #calendar
                // /.box-body
              // /. box
            // /.col
          // /.row
        // /.content
      // /.content-wrapper
      // /.content
    // /.content-wrapper
    footer.main-footer
      .pull-right.hidden-xs
        b Version
        |  1.0.0
      strong
        | Copyright © 2014-2015 
        a(href='http://pocketplay.com')
          | Pocket Play (
          i.fa.fa-trademark
          | )
        | .
      |  All rights reserved.
    // Control Sidebar
    // /.control-sidebar
    //
      Add the sidebar's background. This div must be placed
      immediately after the control sidebar
    .control-sidebar-bg
    // ./wrapper
    // jQuery 2.1.4
    script(src='plugins/jQuery/jQuery-2.1.4.min.js')
    // Bootstrap 3.3.5
    script(src='bootstrap/js/bootstrap.min.js')
    // jQuery UI 1.11.4
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    // Slimscroll
    script(src='plugins/slimScroll/jquery.slimscroll.min.js')
    // FastClick
    script(src='vplugins/fastclick/fastclick.min.js')
    // AdminLTE App
    script(src='dist/js/app.min.js')
    // AdminLTE for demo purposes
    script(src='dist/js/demo.js')
    // fullCalendar 2.2.5
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js')
    script(src='plugins/fullcalendar/fullcalendar.min.js')
    // Page specific script
    script.
      $(function () {
      /* initialize the external events
      -----------------------------------------------------------------*/
      function ini_events(ele) {
      ele.each(function () {
      // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
      // it doesn't need to have a start or end
      var eventObject = {
      title: $.trim($(this).text()) // use the element's text as the event title
      };
      // store the Event Object in the DOM element so we can get to it later
      $(this).data('eventObject', eventObject);
      // make the event draggable using jQuery UI
      $(this).draggable({
      zIndex: 1070,
      revert: true, // will cause the event to go back to its
      revertDuration: 0  //  original position after the drag
      });
      });
      }
      ini_events($('#external-events div.external-event'));
      /* initialize the calendar
      -----------------------------------------------------------------*/
      var date = new Date();
      var d = date.getDate(),
      m = date.getMonth(),
      y = date.getFullYear();
      var notifications = [];

      var data = !{JSON.stringify(data)};
      for (var obj in data) {

        var d = data[obj].startDate;
        var dd = new Date(d).getDate();
        var mm = new Date(d).getMonth();
        var yy = new Date(d).getFullYear();
        notifications.push({
        title: data[obj].title,
        start: new Date(yy, mm, dd),
        backgroundColor: "#3c8dbc",
        borderColor: "#3c8dbc"
        });
      }


      $('#calendar').fullCalendar({
      header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
      },
      buttonText: {
      today: 'today',
      month: 'month',
      week: 'week',
      day: 'day'
      },
      // event element popup by id
      dayClick: function (date, jsEvent, view) {
        window.open("/infolist/"+ date.format(),"_self");
      },

      eventClick: function (calEvent, jsEvent, view) {

       // alert('Event: ' + calEvent.title);
       // alert('View: ' + view.name);

        // change the border color just for fun
        //  $(this).css('border-color', 'red');

      },
      //Random default events
      events: notifications,
      editable: true,
      droppable: true, // this allows things to be dropped onto the calendar !!!
      drop: function (date, allDay) { // this function is called when something is dropped
      // retrieve the dropped element's stored Event Object
      var originalEventObject = $(this).data('eventObject');
      // we need to copy it, so that multiple events don't have a reference to the same object
      var copiedEventObject = $.extend({}, originalEventObject);
      // assign it the date that was reported
      copiedEventObject.start = date;
      copiedEventObject.allDay = allDay;
      copiedEventObject.backgroundColor = $(this).css("background-color");
      copiedEventObject.borderColor = $(this).css("border-color");
      // render the event on the calendar
      // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
      $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
      // is the "remove after drop" checkbox checked?
      if ($('#drop-remove').is(':checked')) {
      // if so, remove the element from the "Draggable Events" list
      $(this).remove();
      }
      }
      });
      /* ADDING EVENTS */
      var currColor = "#3c8dbc"; //Red by default
      //Color chooser button
      var colorChooser = $("#color-chooser-btn");
      $("#color-chooser > li > a").click(function (e) {
      e.preventDefault();
      //Save color
      currColor = $(this).css("color");
      //Add color effect to button
      $('#add-new-event').css({"background-color": currColor, "border-color": currColor});
      });
      $("#add-new-event").click(function (e) {
      e.preventDefault();
      //Get value and make sure it is not null
      var val = $("#new-event").val();
      if (val.length == 0) {
      return;
      }
      //Create events
      var event = $("<div />");
      event.css({"background-color": currColor, "border-color": currColor, "color": "#fff"}).addClass("external-event");
      event.html(val);
      $('#external-events').prepend(event);
      //Add draggable funtionality
      ini_events(event);
      //Remove event from text input
      $("#new-event").val("");
      });
      });
    script.
      $(document).ready(function () {
        var fe_id = 'promotions' + '_fe';
        $('#' + fe_id).addClass('active');
        var fe_id2 = 'informative' + '_fe';
        $('#' + fe_id2).addClass('active');
      });