<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>PocketPlay | Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="bootstrap/css/custom.css" rel="stylesheet">
    <script src="plugins/jquery/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">            
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default" >
            <div style="background-color:#3C8DBC;"class="panel-heading">
			<div class="row" style="background-color:#3C8DBC;">                
            <div class="iconmelon">
              <img src="dist/img/ppmascot.png">
            </div>
        </div>
                <strong><div style="color:white;" class="panel-title text-center">PocketPlay Admin Console</div></strong>
            </div>     

            <div class="panel-body" >

                <form name="form" id="form" class="form-horizontal" action='login'  method="POST">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="username" type="text" required=''  class="form-control" name="username" value="" placeholder="Enter your Username">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						
                        <input id="password" type="password" required='' class="form-control" name="password" placeholder="Enter your Password">
						
                    </div>  
					
					
					
                      <!--  <div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label> 
                                        </a>
			    	    </div>  -->
						
<div class="form-group">
                                </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-4"></div>
                        <div class="col-md-4 text-center">
                            <!--  <a href="all_games.html" style="visibility: hidden" class="btn btn-primary pull-left"> Temporary login</a>-->
                            <button type="submit"  onclick="submitForm()" class="btn btn-primary btn-block btn-lg"><i class="glyphicon glyphicon-log-in"></i> Log in</button>
                        </div>
                    </div>

                </form>     

            </div>                     
        </div>  
    </div>
</div>


<div id="particles"></div>


</body>
</html>

<script>

    $(document).ready(function () {
        var variable = getQueryVariable("error");
        if(variable != null)
        {
            alert('Invalid Username or Password');
        }
    });

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("?");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return null;
    }

    function submitForm(){
        document.getElementById('form').submit();
    }
</script>